.matchPlayerContainer {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
  // background: rgb(241, 241, 241);
  // border-radius: 10px;
  // padding: 10px 0px 5px 0px;
  .avatarImage {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
  }

  .playerName {
    font-size: 10px;
    font-weight: 500;
  }

  .playerScore {
    font-size: 10px;
    font-weight: 300;
    font-family: sans-serif;
  }

  .placementBadgeContainer {
    // background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    // border-radius: 20px;

    .swordBadge {
      height: 20px;
      width: 20px;
      background: #69b3f1;
      border-radius: 20px;
      margin-right: 8px;
      margin-top: 10px;
    }

    .shieldBadge {
      height: 20px;
      width: 20px;
      background: #de6b63;
      border-radius: 20px;
      margin-right: 8px;
      margin-top: 10px;
      padding: 1px 2px;
    }
  }
}
