.playerHolder {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;

  // &:active,
  // &:hover {
  //   animation: playerPress 0.2s ease-in;
  // }

  .avatarImage {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
  }

  .playerName {
    font-size: 10px;
    font-weight: 500;
  }

  .playerScore {
    font-size: 10px;
    font-weight: 300;
    font-family: sans-serif;
  }
}
@keyframes playerPress {
  50% {
    transform: scale(0.75);
  }

  100% {
    transform: scale(1);
  }
}
