@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body,
html {
  height: 100%;
  overflow: scroll;
  background: #00b09b;
  background: -webkit-linear-gradient(to bottom, #96c93d, #00b09b);
  background: linear-gradient(to bottom, #96c93d, #00b09b);
  // background-color: rgb(244, 244, 243);
}

a {
  text-decoration: none !important;
}

.rs-modal {
  width: 90% !important;
}

.rs-modal-content {
  background: linear-gradient(45deg, #ece9e6, #ffffff);
}

.rs-modal-body {
  padding-bottom: 0 !important;
}

.rs-nav-waterline {
  background: none !important;
}

.container {
  margin-top: 10px;
  background: #f9f9f9;
  border-bottom: 0 none;
  // box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  border-radius: 45px;
  padding: 10px 0;
  overflow: hidden;
}

button {
  // -moz-appearance: none !important;
  // -webkit-appearance: none !important;
  // appearance: none !important;
  &.roundButton {
    border-radius: 30px !important;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.46) !important;
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.46) !important;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.46) !important;
    color: white !important;

    &:active,
    &:hover :not(disabled) {
      animation: buttonPress 0.2s ease-in;
    }

    &.green {
      background: #00b09b !important;
      background: -webkit-linear-gradient(
        to right,
        #96c93d,
        #00b09b
      ) !important;
      background: linear-gradient(to right, #96c93d, #00b09b) !important;
    }

    &.blue {
      background: #36d1dc !important;
      background: -webkit-linear-gradient(
        to right,
        #5b96e6,
        #36d1dc
      ) !important;
      background: linear-gradient(to right, #5b96e6, #36d1dc) !important;
    }

    &.lightblue {
      background: #02aab0 !important;
      background: -webkit-linear-gradient(
        to right,
        #00cdac,
        #02aab0
      ) !important;
      background: linear-gradient(to right, #00cdac, #02aab0) !important;
    }

    &.darkblue {
      background: #5c258d !important;
      background: -webkit-linear-gradient(
        to right,
        #4389a2,
        #5c258d
      ) !important;
      background: linear-gradient(to right, #4389a2, #5c258d) !important;
    }

    &.cyan {
      background-color: #1cd8d2 !important;
      background: -webkit-linear-gradient(
        to right,
        #93edc7,
        #1cd8d2
      ) !important;
      background: linear-gradient(to right, #93edc7, #1cd8d2) !important;
    }

    &.red {
      background: #ff512f !important;
      background: -webkit-linear-gradient(
        to right,
        #dd2476,
        #ff512f
      ) !important;
      background: linear-gradient(to right, #dd2476, #ff512f) !important;
    }

    &.violet {
      background: #4776e6 !important;
      background: -webkit-linear-gradient(
        to right,
        #8e54e9,
        #4776e6
      ) !important;
      background: linear-gradient(to right, #8e54e9, #4776e6) !important;
    }

    &.orange {
      background: #f09819 !important;
      background: -webkit-linear-gradient(
        to right,
        #edde5d,
        #f09819
      ) !important;
      background: linear-gradient(to right, #edde5d, #f09819) !important;
    }

    &:disabled {
      background: #989898 !important;
    }
  }
}
@keyframes buttonPress {
  0% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.welcome-exit {
  opacity: 1;
}

.welcome-exit-active {
  opacity: 0;
  transition: all 1000ms ease-out;
}

.spinner {
  // margin: 5vh auto 0;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  margin: 0px 5px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner.dark > div {
  background-color: #4a4949;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
