.tableTagContainer {
  // border: 1px solid black;
  background: #E9F5FE;
  // box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  border-bottom: 0 none;
  box-shadow: 0 2px 14px 0 rgba(0,0,0,0.06), 0 4px 8px 0 rgba(0,0,0,0.06);
  border-radius: 6px;
  padding: 10px 5px;
  // font-size: 30px

  span {
    font-size: 15px;
  }
}

.tableTagSearch {
  padding: 0px !important;
  // border-radius: 6px;
  // box-shadow: 0 2px 14px 0 rgba(0,0,0,0.06), 0 4px 8px 0 rgba(0,0,0,0.06);

  .rs-input-group-addon {
    padding-right: 2px;
  }

  .rs-input {
    padding-left: 0px;
  }

  .rs-btn {
    background: #2196f3CC !important;
  }
}

.tableTagSearch {

}

.playersPlaceholder {
  position:relative;
  overflow: hidden;
  padding: 10px 0px;
  margin-bottom: 10px;
}

.buttonsContainer {
  margin-bottom: 20px;
}

.container {
  margin-top: 10px;
  background: #f9f9f9;
  border-bottom: 0 none;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  border-radius: 6px;
  padding: 10px 0px;
  overflow: hidden;
}

.versusSeparator {
  position: absolute;
  width: 100%;
  height: 300px;
  background: linear-gradient(to top, #2360c700 5%,
      #2360c777 50%,
      #d9892b77 50%,
      #d9892b00 95%);
  transform: rotate(96deg) translate(-50px,7px);

  hr {
    margin-top: 150px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
  }
}
