.playerHolder {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;

  // &:active,
  // &:hover {
  //   animation: playerPress 0.2s ease-in;
  // }

  .avatarImage {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
  }

  .playerName {
    font-size: 10px;
    font-weight: 500;
  }

  .playerScore {
    font-size: 10px;
    font-weight: 300;
    font-family: sans-serif;
  }

  .placementBadgeContainer {
    position: absolute;
    top: 0;
    right: 0;

    .swordBadge {
      height: 20px;
      width: 20px;
      background: #69b3f1;
      border-radius: 20px;
      margin-right: 8px;
      margin-top: -3px;
    }

    .shieldBadge {
      height: 20px;
      width: 20px;
      background: #de6b63;
      border-radius: 20px;
      margin-right: 8px;
      margin-top: -3px;
      padding: 1px 2px;
    }
  }
}
@keyframes playerPress {
  50% {
    transform: scale(0.75);
  }

  100% {
    transform: scale(1);
  }
}
