.kep-login-facebook {
  width: 100%;
  margin-top: 10px;
}

.googleLogin {
  width: 100%;
  margin-top: 10px;
}

.switchLogButton {
  margin-bottom: 20px !important;
}

.kep-login-facebook {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
}

.switch-log {
  margin-top: 10px;
}

.auth-buttons {
  margin-bottom: 15px;
}