.profileAvatarImage {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.createInput {
  margin-bottom: 10px;
  background-color: white;
}

.joinInput {
  margin-bottom: 10px;
}

.searchedTeamTitle {
  text-align: center;
}

.errorMessage {
  color: red;
}

.teamsContainer {
  margin-top: 10px;
}

.logoutButton {
  margin-top: 10px;
}

.profile {
  hr {
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    // margin-left: -20px;
    // margin-right: -20px;
    margin: 10px -20px 0;
    /* border: 0; */
    border-top: 1px solid #d6d6d6;
  }
}

.teamButtons {
  margin-top: 10px;
}

.test {
  // viewbox: "5 0 90 100";
  // view
}
