.team-content {
  width: 100%;
  background: #eaeaea85;
  height: 200px;
  border-radius: 20px;
  padding: 0px 5px;
  text-align: center;
  margin-top: 18%;

  &.add {
    background: linear-gradient(180deg, #eaeaea85 63% ,#eaeaea00);
  }

  .team-image-background {
    transform: translate(-50%, 10%);
  }

  .team-player-avatar {
    margin: 5px 0px;
  }

  .players-container {
    margin-top: 5%;
  }

  .team-header-container {
    padding: 0px 5px;
  }

  .team-id-container {
    span, div {
      font-size: 2.3vw;
    }
  }

  .team-id-label {
    display: block;
    line-height: 1;
    padding-top: 7px;
    text-align: left;
  }

  .team-id {
    background: #3031bb80;
    width: 116%;
    color: white;
    padding: 2px 4px 1px 4px;
    font-weight: 600;
    text-align: center;
    border-radius: 20px;
    margin-top: 2px;
    box-shadow: 0px 2px 10px -3px #696969;
  }
}