.rightTeamAnim-enter {
  opacity: 0.01;
  max-height: 0px;
  transform: scale(1.1) translateX(-25%);
}

.rightTeamAnim-enter-active {
  opacity: 1;
  transform: scale(1);
  max-height: 40px;
  transition: all 500ms;
}

.rightTeamAnim-exit {
}

.rightTeamAnim-exit-active {
  max-height: 0px;
  opacity: 0;
  transition: max-height 300ms, opacity 150ms;
}

.leftTeamAnim-enter {
  opacity: 0.01;
  max-height: 0px;
  transform: scale(1.1) translateX(25%);
}

.leftTeamAnim-enter-active {
  opacity: 1;
  transform: scale(1);
  max-height: 40px;
  transition: all 500ms;
}

.leftTeamAnim-exit {
}

.leftTeamAnim-exit-active {
  max-height: 0px;
  opacity: 0;
  transition: max-height 300ms, opacity 150ms;
}
