.matchContainer {
  .goalSelectionContainer {
    padding-bottom: 15px;

    .select-goal-title {
      margin: 6px 0px 12px 0px;
    }

    .playersContainer {
      padding-left: 0;
      padding-right: 0;
    }

    .playerPlacementContainer {
      text-align: center;

      .switchImage {
        height: 85px;
        border-radius: 30px;
        background-color: #c8c8c8;
        box-shadow: 0 0 6px 2px rgba(111, 111, 111, 0.2);

        &.disabled {
          opacity: 0.3;
          box-shadow: 0 0 6px 2px rgba(111, 111, 111, 0);
        }
      }
    }

    .P1Container,
    .P2Container,
    .P3Container,
    .P4Container {
      border-radius: 10px;
      padding: 10px 0 5px;

      &.error {
        img {
          box-shadow: 0 0px 10px #ff0000;
        }
      }
    }

    .P1Container,
    .P2Container {
      &.selected {
        background: #4c64e288;
      }
    }

    .P3Container,
    .P4Container {
      &.selected {
        background: #dba61f88;
      }
    }

    .sword {
      &.selected {
        background: #69b3f1;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
      }
    }

    .shield {
      &.selected {
        background: #de6b63;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
      }
    }

    hr {
      margin: 5px -20px;
      border-top: 1px solid #d6d6d6;
    }

    .pointsSelector {
      text-align: center;

      .goals-title {
        margin: 0px;
        text-align: initial;
      }

      .minusImage,
      .plusImage {
        width: 25px;
      }

      .verticalHelper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }

      @mixin points-button-common {
        width: 90%;
        margin: 5px 0px;
        border-radius: 50px;
        height: 70px;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);

        &.error {
          box-shadow: 0 1px 10px rgba(255, 0, 0, 1);
        }

        &:disabled {
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0);
          background: #c2c2c2 !important;
          opacity: 0.2 !important;
        }
      }

      .removePointButton {
        // background: #c64b4b;
        background: #ff512f !important;
        background: -webkit-linear-gradient(
          to right,
          #ec4a2a,
          #dd2476
        ) !important;
        background: linear-gradient(to right, #ec4a2a, #dd2476) !important;
        
        @include points-button-common;
      }

      .addPointButton {
        // background: #88c64b;
        background: #00b09b !important;
        background: -webkit-linear-gradient(
          to right,
          #96c93d,
          #00b09b
        ) !important;
        background: linear-gradient(to right, #96c93d, #00b09b) !important;

        @include points-button-common;
      }

      .changingScore {
        font-size: 34px;
        font-weight: 1000;
        text-align: center;
        height: 100%;
        line-height: 5rem;
      }
    }

    .matchButtonsContainer {
      margin-top: 10px;
      text-align: center;

      .betrayToggle {
        padding: 10px 0px;
        font-weight: 1000;
        font-size: 20px;
        border-radius: 25px;
        border: 1px solid #bfbfbf;
        background: #f5f5f5;
        color: #525252;
        box-shadow: 0px 0px 6px 0px rgba(1, 1, 1, 0.25);

        span {
          height: 20px;
          font-size: 17px;
        }

        &.active {
          border: 2px solid red;
          padding: 9px 0px;
        }

        &.disabled {
          box-shadow: none !important;
          color: #c2c2c2 !important;
          opacity: 0.3;
          background: #f5f5f5 !important;
        }
      }

      .addGoalButton {
        padding: 10px 0px;
        color: white;
        font-weight: 1000;
        font-size: 20px;
        background: #36d1dc !important;
        background: -webkit-linear-gradient(
          to right,
          #5b96e6,
          #36d1dc
        ) !important;
        background: linear-gradient(to right, #5b96e6, #36d1dc) !important;
        border-radius: 25px;
        box-shadow: 0 0px 7px rgba(0, 0, 0, 0.2);

        .rs-icon-size-lg {
          font-size: 1.1em !important;
        }
      }
    }

    .versusSelector {
      $buttonShadow: 0 0px 5px rgba(0, 0, 0, 0.3);
      margin-top: 10px;

      .versusTeam1 {
        border-radius: 50px;
        background-color: #f1f1f1;
        padding-top: 5px;
        padding-bottom: 3px;
        padding-left: 12px;
        padding-right: 12px;
        box-shadow: $buttonShadow;

        &.selected {
          background-color: #4c64e288;
        }
      }

      .versusTeam2 {
        border-radius: 50px;
        background-color: #f1f1f1;
        padding-top: 5px;
        padding-bottom: 3px;
        padding-left: 12px;
        padding-right: 12px;
        box-shadow: $buttonShadow;
        
        &.selected {
          background-color: #dba61f88;
        }
      }
    }
  }

  // CSS Transitions
  .addGoalButtonAnim-enter {
    opacity: 0.01;
    transform: scale(1.05) translateX(2%);
  }

  .addGoalButtonAnim-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 150ms;
    // transition-timing-function: ease-in-out;
  }

  .addGoalButtonAnim-exit {
    opacity: 1;
    transform: scale(1);
  }

  .addGoalButtonAnim-exit-active {
    opacity: 0.01;
    transform: scale(1.02) translateX(2%);
    // transition-timing-function: ease-in-out;
    transition: all 150ms;
  }
}
