.matchContainer {
  .playerPlacementContainer {
    text-align: center;
  }

  .placementImage {
    height: 40px;
    background-color: #c8c8c8;
    border-radius: 5px;
  }

  .swordContainer {
    margin-top: -5px;
    padding-bottom: 5px;
  }

  .shieldContainer {
    padding-top: 5px;
  }

  .P1Container,
  .P2Container,
  .P3Container,
  .P4Container {
    border-radius: 10px;
    padding: 10px 0 5px;

    &.error {
      img {
        box-shadow: 0 0px 10px #ff0000;
      }
    }
  }

  .P1Container,
  .P2Container {
    &.selected {
      background: #4c64e288;
    }
  }

  .P3Container,
  .P4Container {
    &.selected {
      background: #dba61f88;
    }
  }

  .sword {
    &.selected {
      background: #4c9ee288;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    }
  }

  .shield {
    &.selected {
      background: #e2c54c88;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    }
  }

  .playersContainer {
    padding-left: 0;
    padding-right: 0;
  }

  hr {
    margin: 5px -20px;
    border-top: 1px solid #d6d6d6;
  }

  .pointsSelector {
    text-align: center;

    .minusImage,
    .plusImage {
      width: 25px;
    }

    .verticalHelper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    $buttonMargin: 5px 10px;
    $buttonRadius: 50px;
    $buttonHeight: 70px;
    $buttonShadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    $buttonShadowError: 0 1px 10px rgba(255, 0, 0, 1);

    .removeButton {
      margin: $buttonMargin;
      background: #c64b4b;
      background: #ff512f !important;
      background: -webkit-linear-gradient(
        to right,
        #ec4a2a,
        #dd2476
      ) !important;
      background: linear-gradient(to right, #ec4a2a, #dd2476) !important;
      border-radius: $buttonRadius;
      height: $buttonHeight;
      box-shadow: $buttonShadow;

      &.error {
        box-shadow: $buttonShadowError;
      }
    }

    .addButton {
      margin: $buttonMargin;
      background: #88c64b;
      background: #00b09b !important;
      background: -webkit-linear-gradient(
        to right,
        #96c93d,
        #00b09b
      ) !important;
      background: linear-gradient(to right, #96c93d, #00b09b) !important;
      border-radius: $buttonRadius;
      height: $buttonHeight;
      box-shadow: $buttonShadow;

      &.error {
        box-shadow: $buttonShadowError;
      }
    }

    .changingScore {
      font-size: 34px;
      font-weight: 1000;
      text-align: center;
      height: 100%;
      line-height: 5rem;
    }

    .betrayToggle {
      margin-top: 5px;
      font-weight: 600;
      padding: 7px;
      font-size: 12px;
      background: #e0eafc; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #c0cee2,
        #d0e1ff
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #c0cee2,
        #d0e1ff
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      border-radius: $buttonRadius;
      box-shadow: 0 0px 7px rgba(0, 0, 0, 0.2);

      &.active {
        color: white;
        box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
        background: #a73737; /* fallback for old browsers */
        background: -webkit-linear-gradient(
          to right,
          #c14747,
          #a73737
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
          to right,
          #c14747,
          #a73737
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
    }
  }

  .versusSelector {
    $buttonShadow: 0 0px 5px rgba(0, 0, 0, 0.3);
    margin-top: 10px;

    .versusTeam1 {
      border-radius: 50px;
      background-color: #f1f1f1;
      padding-top: 5px;
      padding-bottom: 3px;
      padding-left: 12px;
      padding-right: 12px;
      box-shadow: $buttonShadow;

      &.selected {
        background-color: #4c64e288;
      }
    }

    .versusTeam2 {
      border-radius: 50px;
      background-color: #f1f1f1;
      padding-top: 5px;
      padding-bottom: 3px;
      padding-left: 12px;
      padding-right: 12px;
      box-shadow: $buttonShadow;
      &.selected {
        background-color: #dba61f88;
      }
    }
  }

  .addButtonContainer {
    margin-top: 20px;
    margin-bottom: 10px;

    .addButton {
      padding: 10px 10px;
      font-weight: 1000;
      font-size: 20px;
    }
  }

  .historyContainer {
    margin-bottom: 10px;

    .matchValidation {
      margin-top: 10px;
    }
  }
}
