.test1 {
  background-color: #96434399;
}

.test2 {
  background-color: #92964399;
}

.test3 {
  background-color: #43965399;
}

.test4 {
  background-color: #43629699;
}

.test5 {
  background-color: #96439399;
}