.matchHistoryContainer {
  text-align: center;
  margin-top: 10px;
  // .col1 {
  //   background-color: #ff000088;
  // }
  // .col2 {
  //   background-color: #ffed0088;
  // }
  // .col3 {
  //   background-color: #1cff0088;
  // }
  // .col4 {
  //   background-color: #0047ff88;
  // }
  // .col5 {
  //   background-color: #00f7ff88;
  // }

  .avatarImage {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
  }

  // .imageP2,
  // .imageP4 {
  //
  // }

  .translateTop {
    transform: translateY(-60%);
  }

  .team1,
  .team2 {
    height: 75px;
  }

  .scoreContainer {
    height: 75px;
    padding: 0 !important;

    .score1,
    .score2 {
      font-size: 40px;
      font-family: sans-serif;
    }
  }

  .timerContainer {
    height: 60px;

    .timer {
      background-color: #adadadc9;
      color: white;
      font-family: sans-serif;
      padding: 3px 12px;
      border-radius: 20px;
    }
  }

  .verticalHelper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .history {
    margin-top: 10px;

    .goalEventContainer {
      margin-top: 3px;
    }

    .team1History {
      text-align: left;
    }

    .team2History {
      text-align: right;
    }

    .goalTime {
      color: #bdbdbd;
      font-family: sans-serif;
      font-weight: 1000;
      margin: 2px 2px;
    }

    .goalScoreContainer {
      border-radius: 15px;
      text-align: center;
      color: white;

      &.plus {
        background: #00cc00;
      }

      &.minus {
        background: #da0000;
      }
    }

    .goalScore {
      font-family: sans-serif;

      &.plus {
        background: #00cc00;
      }

      &.minus {
        background: #da0000;
      }
    }

    .goalPlayer {
      margin: 2px 2px;
      font-weight: 1000;
    }

    // CSS Transitions
    .team1Anim-enter {
      opacity: 0.01;
      transform: scale(1.1) translateX(-25%);
    }

    .team1Anim-enter-active {
      opacity: 1;
      transform: scale(1) translateX(0%);
      transition: all 300ms;
    }

    .team2Anim-enter {
      opacity: 0.01;
      transform: scale(1.1) translateX(25%);
    }

    .team2Anim-enter-active {
      opacity: 1;
      transform: scale(1) translateX(0%);
      transition: all 300ms;
    }
  }
}

// .dialog-exit {
//   opacity: 1;
//   transform: scale(1);
// }
//
// .dialog-exit-active {
//   opacity: 0.01;
//   transform: scale(1.1);
//   transition: all 300ms;
// }
